


.App {
  margin:  auto;
  text-align: center;
  position: relative;


  background-image:url('./space.jpg');
  background-size: cover;
  width:60%;
  height:95%;



}


.miniApp{


  margin:  auto;
  text-align: center;
  width:80%;
  height:100%;


}
