.memo{

  background-color: white;
  border: solid 1px black;
  float:left;
   padding:10px;
  margin-left: 16%;
  margin-bottom: 13%;
  width:21%;
  height:20%;


  display: inline-block;
  opacity:0.6;


}

.memo:hover {
  opacity: 1;
}

.id{
  font-family: Georgia;
  font-size: 18px;
}

.desc{
  font-size: 16px;
  word-break:break-all;
}
